#local-search-input
  background: rgba(0,0,0,0)
  display:block;
  height:30px;
  width:90%;
  margin:0 auto
  border:none;
  &::placeholder{

    -webkit-transform:translateY(0px);
      transform:translateY(0px);
    -webkit-transition:.5s;
      transition:.5s;
  }
  &:hover,
  &:focus,
  &:active:focus
    color:$color-accent;
    outline:none;
    border-bottom:1px solid $color-accent;
    &::placeholder
      color:$color-accent;
      position:relative;
      -webkit-transform:translateY(-20px);
      transform:translateY(-20px);
  position:relative;
  z-index:1;
  border-bottom:1px solid #858585;
  font-family: 'Open Sans', sans-serif;
  text-transform:lowercase;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
      

#local-search-result 
  scroll:auto
  overflow:auto
  max-height:3in


ul.search-result-list 
  padding-left: 10px


a.search-result-title 
  font-weight: bold


p.search-result 
  color=#555


em.search-keyword 
  border-bottom: 1px dashed #4088b8
  font-weight: bold

  