<nav
  class="pagination is-small is-centered"
  role="navigation"
  aria-label="pagination"
>
  <% if (page.total > 1) { %>

  <div class="container">
    <!-- Previous Page. -->
    <% if (page.prev_link) { %>
    <a
      class="pagination-previous button-57"
      href="<%= url_for(page.prev_link) %>"
      rel="prev"
      >Previous<span>00111100</span></a
    >
    <% } %>

    <!-- Next Page. -->
    <% if (page.next_link) { %>
    <a class="pagination-next button-57" href="<%= url_for(page.next_link) %>" rel="next"
      >Next<span>00111110</span></a
    >
    <% } %>
  </div>

  <!-- Dummy. Do not delete! -->
  <ul class="pagination-list"></ul>

  <% } %>
</nav>
